body{
    font-family: "Dosis", sans-serif;
}

header .navbar ul li i {
    font-size: 13px;
}

.logo_name{
    color: rgb(29, 83, 120);
    font-weight: 500;
    font-size: 40px;
}

.catlog{
    background-color: rgb(249, 249, 249);
}

.price_topic{
    font-size: 50px;
    font-weight: 500;
}