@media (max-width: 574px) {
  #pc-slider {
    display: none;
  }
}

@media (min-width: 575px) {
  #mobile-slider {
    display: none;
  }
}

@media (max-width:987px) {
  #frame-btn {
    margin-top: 23px;
  }
}

@media (max-width:765px){
  #shoot-btn{
    margin-top: 23px;
  }
}

@media (min-width:1399px){
  #frame-btn{
    margin-top: 23px;
  }
}
body {
  font-family: "Dosis", sans-serif;
}

header .navbar ul li i {
  font-size: 13px;
}

.logo_name {
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.price_topic {
  font-size: 50px;
  font-weight: 500;
}

.btn-close {
  background-color: white;
  color: white;
  border-color: white;
}

#about-us {
  color: rgb(178, 178, 178);
}

@media (max-width: 433px) {
  .babyshoot_bottom {
    margin-bottom: 40px;
  }
}

@media (max-width: 352px) {
  .min-width-352 {
    margin-bottom: 40px;
  }
}

@media (min-width: 1279px) {
  #marginfromstart {
    margin-inline-start: auto;
  }
}